.fly-in-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    z-index: 1050;
    padding: 20px;
}

.fly-in-menu.show {
    right: 0;
}

#fly-in-menu-items {
    clear: both;
}

.navbar-toggler {
    border: none;
    padding: 0;
}

body.authenticated {
    padding-top: 70px;
}
