<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/favicon.png" alt="Favicon" style="height: 24px; margin-right: 8px" />
      <span class="text-uppercase fw-bold">vulnz</span>
    </a>
    <div id="header-buttons" class="d-none d-lg-flex gap-2"></div>
    <button class="navbar-toggler" type="button" id="burger-menu">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="fly-in-menu" id="fly-in-menu">
  <button type="button" class="btn-close float-end mb-3" id="close-menu" aria-label="Close"></button>
  <div id="fly-in-menu-items" class="d-flex flex-column gap-2"></div>
</div>
